/*CSS do cabeçalho*/

.cabecalhoPrincipal .container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.cabecalhoPrincipal-nav {
	display: flex;
}

.conteudoPrincipal-cursos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.conteudoPrincipal-cursos:nth-child(4n){
	margin-right: 0;
}

.conteudoPrincipal-cursos:nth-child(4n+1) {
	margin-left: 0;
}

.conteudoPrincipal-cursos-link{
	width: 20%;
}

.rodapePrincipal-navMap-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 260px;
}

.videoSobre .container{
	display: flex;
	

}

.videoSobre-sobre {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex-grow: 1;

}

.videoSobre-sobre .videoSobre-sobre-list {
	flex-grow: 1;

}

/*CSS do rodapé*/

.rodapePrincipal-patrocinadores .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rodapePrincipal-patrocinadores-list {
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.rodapePrincipal-contatoForm-fieldset {
	display: flex;
}

/*CSS do celular*/

@media(max-width: 768px) {
 	

	.cabecalhoPrincipal .container  {
		
		flex-direction: column;
		align-items: initial;
		text-align: center;

	}

	.cabecalhoPrincipal-nav {

		flex-direction: column;
	}


	.cabecalhoPrincipal-nav-link-app {
		order: -1;
	
	}

	.conteudoPrincipal-cursos {
		flex-direction: column;
	}

	.conteudoPrincipal-cursos-link {

		width: 100%;

	}

	.videoSobre .container {
		flex-direction: column;
	}

	.rodapePrincipal-navMap-list {
		flex-wrap: nowrap;
		height: auto;
	}


	.rodapePrincipal-patrocinadores .container{

		flex-direction: column;
	}
	
	.rodapePrincipal-patrocinadores-list {
		width: 100%;
	}
	

}



